name: npm-publish

on:
  release:
    types: [published]


permissions:
  contents: read
  id-token: write


jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: "https://registry.npmjs.org"

      - run: yarn --immutable
      - run: yarn build
      - run: NODE_AUTH_TOKEN="" npm publish

